<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Test</title>
    <link rel="stylesheet" href="./grid.css">

    <style>
        .box{
            height: 100px;
            background-color: aqua;
            margin-top: 5px;
        }
        .box:nth-child(odd){
            background-color: brown;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-4 box">

        </div>
        <div class="col-md-4 box">

        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 box">

        </div>
        <div class="col-md-2 col-sm-3 box">

        </div>
        <div class="col-md-2 col-sm-3 box">

        </div>
        <div class="col-md-2 col-sm-3 box">

        </div>
        <div class="col-md-2 col-sm-3 box">

        </div>
        <div class="col-md-2 col-sm-3 box">

        </div>
        <div class="col-md-2 col-sm-3 box">

        </div>
    </div>
</body>
</html>